body {
    background-color: rgb(39, 38, 63);
}
.page-title {
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
   color: white
  }
  
  .form-container {
    width: 400px;
    margin: auto;
    background-color: rgbrgb(39, 38, 63);
    COLOR: white
  }
  
  .ui.teal.button:focus,
  .ui.teal.buttons .button:focus {
    background-color: #00b5ad;
    color: #333333;
font-family: 'Lucida Console', Monaco, monospace;
  }
  /*"red","orange","yellow","olive","green","teal","blue","violet","purple","pink","brown","grey","black"*/
  .spyglass{
    display:flex;
    justify-content: center;  
    flex-direction: row;
    width: 17vh;
    height: 15vh;
    color:orangered
  }

  .spycont{
      display:flex;
      flex-direction: row;
      align-items: center;
  }

  .spytext{
    color: white;
font-family: 'Lucida Console', Monaco, monospace;
font-size: 3em;
  }

  .spytextSmall {
    color: white;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 1em;
  }

  .top{
    display: flex;
    flex-direction: row;
  }

  @media only screen and (min-width:750px){
    .top{
      justify-content: center;
    }
    .spytext{
      color: white;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 10em;
    }

    .spytextSmall {
      color: white;
      font-family: 'Lucida Console', Monaco, monospace;
      font-size: 2em;
    }

    .spyglass{
      display:flex;
      justify-content: center;  
      flex-direction: row;
      width: 27vh;
      height: 27vh;
      color:orangered
    }
 }

