
@import url(https://fonts.googleapis.com/css?family=Cabin:400);



.webdesigntuts-workshop:before,
.webdesigntuts-workshop:after {
	display: flex;	
	height: 1px;
	left: 50%;
	margin: 0 0 0 -400px;
	position: absolute;
	width: 800px;
}

.webdesigntuts-workshop form {
	background: rgb(155, 153, 153);
	border: 1px solid rgb(155, 153, 153);
	border-radius: 5px;
	display: inline-block;
	font-size: 0px;
	padding: 20px;
	position: relative;
	z-index: 1;
}

.webdesigntuts-workshop input {	
	border: 1px solid #444;
	border-radius: 5px 5px 5px 5px;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
}

.ie .webdesigntuts-workshop input {
	line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:focus {
	animation: glow 800ms ease-out infinite alternate;
	
	
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1);
	
	outline: none;
}

.webdesigntuts-workshop button {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: border-box;
	border: 1px solid #444;
	border-radius: 0 5px 5px 0;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	
	width: 80px;
}	

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}

.webdesigntuts-workshop button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	top: 1px;
}

@keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1);
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4);
    }
}





.coin-container {
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(10, 10, 10)
  }
  
  .coin-row {
    height: 5em;
    border-bottom: 1px solid #d7d7d7;
    width: 100%;
  }
  
  .coin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1em;
    justify-items: center;
    flex-direction: row;
  }
  
  .coin img {
    height: 5em;
    width: 5em;
    margin-right:2em;
  }
  h1{
      color: green
  }
  .coin-symbol {
    text-transform: uppercase;
  }
  
  .coin-tag {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: bold;
      font-size:1.3em;
      padding-top:1em ;
  }
  .coin-data {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .coin-percent {
    font-size:1.5em; 
   }
  
  .red {
    color: #f00606;
  }
  
  .green {
    color: #11d811;
  }

  .coin-search{
      display: flex;
      justify-content:center;
      flex-direction: column;
      align-items: center;
      
  }

  .popular-coins{
      font-size: 2em;
      
      padding-top: 1em;
      color: green;
      text-decoration: wavy;
  }

  .popular-coinage{
    font-size: 1em;
      padding-bottom: 1em;
      
      color: green;
      text-decoration: wavy;
  }

  .coin-input {
      border-radius: 5px;
      height: 3em;
      width: 20em;
      text-align: center;
      font-size: 1.1em;
     
  }

  .usd {
    font-size: .5em;
    vertical-align:super;
}


   .coin-price {
    font-size:1.1em; 
   }

   .coin-symbol {
    font-size:1.1em; 
    color: green
   }
  @media only screen and (min-width:750px){
    .coin-volume {
       font-size:2em; 
      }
      .coin-marketcap {
        font-size:2em; 
       }

       .coin-percent {
        font-size:2em; 
       }

       .coin-symbol {
        font-size:2em; 
       }

       .coin-price {
        font-size:2em; 
       }

       .usd {
           font-size: .5em;
           vertical-align:super;
       }

       .coin img {
        height: 5em;
        width: 5em;
        margin-right:2em;
      }

      .coin-data {
        justify-content: space-between;
      }

      .coin {
          justify-content:space-between;
          font-size: 2em;
      }
     



  }